 
 <!-- FOOTER -->
 <footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted text-white-50">&copy; 2022 Viki'sTech, Inc</span>
    </div>
  </footer>
</body>
</html>