
<%- include("partials/header.ejs") -%> 

<%- include("partials/navbar.ejs") -%> 

    <section class="vh-100 gradient-custom" style="display: contents;">
        <div class="container-fluid py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
                    <form action="/login" method="post">
                    <div class="form-floating mb-4">
                      <input type="email" class="form-control form-control-lg text-white" id="floatingInput" name="username" placeholder="name@example.com">
                      <label for="floatingInput">Email address</label>
                    </div>
  
                    <div class="form-floating mb-4">
                      <input type="password" class="form-control form-control-lg text-white" id="floatingPassword" name="password" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
  
                    <button type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>
  
                  </form>
  
                    <div class="d-flex justify-content-center mt-4 pt-1">
                      <a href="/auth/google" class="text-white"><i class="fa-brands fa-google fa-lg"></i></a>
                      <a href="/auth/facebook" class="text-white"><i class="fa-brands fa-facebook fa-lg mx-4 px-5"></i></a>
                      <a href="#!" class="text-white"><i class="fa-brands fa-twitter fa-lg"></i></a>
                    </div>
  
                    <div>
                      <p class="mb-0" style="margin-top: 4rem; margin-bottom: 0;">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a></p>
                    </div>
  
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>   
      </section> 

<%- include("partials/footer.ejs") %> 
  